@import "./colors.scss";

.m-btn {
  padding: 14px 24px 12px;
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 0.09rem;
  border-radius: 20px;

  transition: all 0.3s;
  cursor: pointer;

  border: none;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;

  &:focus {
    outline: none;
  }

  &__loader {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.6);

    display: flex;
    justify-content: center;
    align-items: center;

    &::before {
      content: "";
      display: block;
      height: 20px;
      width: 20px;
      border-radius: 100%;
      border: 2px solid #fff;
      border-top-color: transparent !important;
      border-left-color: transparent !important;
      animation: rotate infinite 0.75s linear;
    }
  }

  &--small {
    padding: 8px 16px 6px;
    font-size: 0.75rem;
  }

  &--disabled {
    background: #dddddd !important;
    color: #818181 !important;
    pointer-events: none;
  }

  &--loading {
    position: relative;
    pointer-events: none;
    box-shadow: none !important;
  }

  &--block {
    width: 100%;
  }

  @each $key, $value in $colors {
    &--#{$key} {
      background: nth($value, 3);
      color: nth($value, 6);
      & * {
        color: nth($value, 6) !important;
      }
      box-shadow: 0 3px 14px -4px nth($value, 4);

      &:hover {
        background: nth($value, 4);
      }
      &:active {
        background: nth($value, 5);
      }
      & .m-btn__loader::before {
        border-color: nth($value, 3);
      }
      &.m-btn--text {
        background: transparent;
        color: nth($value, 3);
        font-weight: bold;
        box-shadow: none;
        & * {
          color: nth($value, 3) !important;
        }

        &:hover {
          background: nth($value, 1);
        }
        &:active {
          background: nth($value, 2);
        }

        &.m-btn--disabled {
          background: transparent !important;
          opacity: 0.3;
        }
      }
    }
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
