$colors: (
  primary: (
    // lwr
      #e2f2ff,
    // low
      #bfe3ff,
    // med
      #178ae2,
    // hig
      #097ad1,
    // hgr
      #045ea3,
    // fnt
      #fff,
  ),
  secondary: (
    #9b9b9b,
    #9b9b9b,
    #9b9b9b,
    #7c7c7c,
    #555555,
    #fff,
  ),
  light: (
    #fff,
    #fff,
    #fff,
    #e2e2e2,
    #c0c0c0,
    #000,
  ),
  dark: (
    #242424,
    #242424,
    #242424,
    #3a3a3a,
    #555555,
    #fff,
  ),
  success: (
    #4fc14d,
    #4fc14d,
    #4fc14d,
    #4fc14d,
    #4fc14d,
    #fff,
  ),
  error: (
    #ffe0e0,
    #ffc4c4,
    #eb3939,
    #e92727,
    #b61e1e,
    #fff,
  ),
);
