$colors: (
  primary: (
    #1183da,
    #096db9,
    #004e8a,
    #fff,
  ),
  secondary: (
    #9b9b9b,
    #7c7c7c,
    #555555,
    #fff,
  ),
  light: (
    #fff,
    #e2e2e2,
    #c0c0c0,
    #000,
  ),
  dark: (
    #242424,
    #3a3a3a,
    #555555,
    #fff,
  ),
);
