.m-table {
  width: 100%;
  thead {
    tr {
      th {
        padding: 6px 10px 6px 0;
        font-size: 1.1rem;
      }
    }
  }
  tbody {
    tr {
      td {
        padding: 4px 10px 4px 0;
        color: #505050;
        font-size: 1rem;
        font-weight: lighter;
      }
    }
  }
}