@import url('https://fonts.googleapis.com/css?family=Comfortaa:300,400,700&display=swap');
@import './animation.scss';
@import './aspect-ratio.scss';
@import './background.scss';
@import './layout.scss';

body, body * {
  font-family: Comfortaa, Arial, Helvetica, sans-serif;
}

/*Scrollbar*/
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  background: rgb(224, 223, 223);
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(206, 206, 206);
}