@import "~@fullcalendar/core/main.css";
@import "~@fullcalendar/daygrid/main.css";

.calendar-container {
  padding: 16px;
  .calendar-control {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 4px 10px 8px;
    .calendar-date {
      font-weight: bold;
      font-size: 1.5rem;
    }
  }
  .fullcalendar {
    max-width: 800px;
    margin: 0 auto;
  }
}

.task {
  padding: 20px 28px;
  margin: 4px 10px 16px 10px;
  border-radius: 0;
  border-left: 6px solid #7272e9;
  &__menu {
    display: flex;
  }
  &__name {
    margin-bottom: 10px !important;
    font-size: 1.4rem;
    font-weight: bold;
  }
  &__description {
    font-size: 1rem;
    white-space: pre-wrap;
  }
}

.fc-widget-content {
  cursor: pointer;
}
.fc-event-container {
  font-size: 1rem;
  pointer-events: none;
}

.fc-toolbar {
  display: none;
}
.fc-scroller {
  overflow: hidden !important;
  height: auto !important;
}