:root {
  --color-primary: rgb(83, 100, 255);
  // --color-font: #fff;
  --color-subtitle: rgb(87, 146, 255);
  // --color-font: rgb(36, 36, 36);

  --margin-spacer: 20px;
}

// .v-application * {
//   color: var(--color-font);
// }
