:root {
  --color-primary: rgb(83, 100, 255);
  --color-subtitle: rgb(87, 146, 255);
  --color-font-disable: rgb(155, 155, 155);

  --margin-spacer: 20px;
}

// .v-application * {
//   color: var(--color-font);
// }
